@charset "UTF-8";

#footer{margin-top: -1%;}
	.joinm input{
       background-color: white;
       color: black;
       height: 30px;
       width: 150px;
	   margin-bottom: 5px;
	   border-radius: 7px;
	   padding-left: 10px;
       border: 0px;
       outline: 0;
    }
	.joinm input{color: black; transition:width 1s, height 1s, background-color 1s, transform 1s;}
	.joinm input:focus{background-color: #e74c3c; color: white;}
	
#red_line{
	border: 1px solid red;
}
#admin_imageArea{
    text-align: center;
    transition: all .15s ease-in-out;
    width: 300px;
    height: 300px;
    margin: 50px;
    float: left;
    background-color: gray;
	border: 1px solid white;
}
#admin_movie_story{
	overflow-y: scroll;
    resize: none;
    vertical-align: top;
    width: 40%;
    height: 115px;
    border-radius: 5px;
    margin-top: 5px;
    color: black; transition:width 1s, height 1s, background-color 1s, transform 1s;
}
#admin_movie_story:focus{background-color: #e74c3c; color: white;}

#admin_movie_spot{height: 20px; border-radius: 5px;transition:width 1s, height 1s, background-color 1s, transform 1s;}
#admin_movie_spot:focus{background-color: #e74c3c;}
#admin_movie_genre{height: 20px; border-radius: 5px; color: black; transition:width 1s, height 1s, background-color 1s, transform 1s;}
#admin_movie_genre:focus{background-color: #e74c3c;}

.admin_movie{
	border: 1px;
    color: white;
    margin: 0 auto;
    margin-top: 7%;
    background-color: #00000014;
    height: 420px;
    width: 70%;
    border-radius: 20px;
}
.admin_movie_text{
	color:black;
}

.btn {
	box-shadow: inset 0px 1px 0px 0px #f5978e;
	background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color: #f24537;
	border-radius: 6px;
	border: 1px solid #db1f11;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 18px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #810e05;
	margin-left: -50px;
}

.btn:hover {
	background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color: #c62d1f;
}

.btn:active {
	position: relative;
	top: 1px;
}
#adm_footer{
	height: 4px;
	background: red;
	border: none;
}
#admin_movie_time{padding-left: 0px;}
#admin_movie_min{width: 10%;}
#movie_wantprice{width: 10%;}
#admin_movie_max{width: 3%;}

#adm_foot{text-align: center; margin-bottom: 30px;}
#use_fix{
		margin: 0 auto; 
        margin-top: 100px;
        font-size: 20px; 
        font-weight: bold;
        width: 80%;
        color: white;
}
#btndiv{margin-top: 45px; text-align: center;}
#admin_movie_btn2{margin-left: 10px;}