@charset "UTF-8";
select,
input[type="text"], 
input[type="number"]
{height:auto; margin-bottom:10px; text-size: 14px;}
#red_line{
	border: 1px solid red;
}
.admin_image{
    outline: 2px dashed #92b0b3;
    outline-offset:-10px; 
    text-align: center;
    transition: all .15s ease-in-out;
    width: 300px;
    height: 300px;
    background-color: gray;
    margin: 50px;
    float: left;
}
.admin_movie{
	margin: 0 auto; 
    margin-top: 100px;
    font-size: 15px; 
    font-weight: bold; 
	
}
.admin_movie_text{
	color:black;
}
#admin_movie_btn{
	width: 100px; 
	margin: 30px; 
	height: 30px; 
	font-size: 15px; 
	font-weight: bold;
	color: white; 
	background: #ff3333; 
	border: 0px; 
	border-radius: 5px; 
}
#adm_footer{
	height: 4px;
	background: red;
	border: none;
}
#adm_foot{text-align: center; margin-bottom: 30px; }
#use_fix{
		margin: 0 auto; 
        margin-top: 100px;
        font-size: 20px; 
        font-weight: bold;
        width: 80%;
        color: white;
}