@charset "UTF-8";
select,
input[type="text"], 
input[type="number"]
{height:auto; margin-bottom:10px; text-size: 14px;}
#red_line{
	border: 1px solid red;
}
#admin_imageArea{
    text-align: center;
    transition: all .15s ease-in-out;
    width: 300px;
    height: 300px;
    margin: 50px;
    margin-left: 20%;
    float: left;
    background-color: gray;
	border: 1px solid white;
}
#admin_movie_story{
	overflow-y: scroll;
    resize: none;
    vertical-align: top;
    width: 24%;
    height: 135px;
}

.admin_movie{
	margin: 0 auto; 
    margin-top: 50px;
    font-size: 15px; 
    font-weight: bold; 
	
}
.admin_movie_text{
	color:black;
}
#admin_movie_btn{
	width: 100px; 
	margin: 30px; 
	height: 30px; 
	font-size: 15px; 
	font-weight: bold;
	color: white; 
	background: #ff3333; 
	border: 0px; 
	border-radius: 5px;
	margin-left: -7%;
}

#admin_movie_btn2{    
	width: 100px;
    margin: 30px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background: #ff3333;
    border: 0px;
    border-radius: 5px;
}
#adm_footer{
	height: 4px;
	background: red;
	border: none;
}

#admin_movie_min{width: 7%;}
#movie_wantprice{width: 7%;}
#admin_movie_max{width: 3%;}

#adm_foot{text-align: center; margin-bottom: 30px; }
#use_fix{
		margin: 0 auto; 
        margin-top: 100px;
        font-size: 20px; 
        font-weight: bold;
        width: 80%;
        color: white;
}