@charset "UTF-8";

	/* footer */

#footer{
	height: 100px;
	text-align: center;
}
.f_bottom-contents{
	color: white;
}
#f_logo{
	width: 150px;
	height: 40px;
}
#copyright{
	text-align: center;
	color: white;
	font-size: 10px;
}

	/* 상세뷰 */
#cfilml{font-size:20px;}
.hline{height:4px; background-color:red; border:none;}	
#ch2{color:white;}
#createp{width: 80%; margin:100px auto;}
#box{margin-top:30px; background-color:white; color:black; border-radius:5px;}

#cfilm{padding:10px; margin: 0 auto; text-align: center;}
#cctitle{font-size:18px;}
#ccdirector{font-size:18px;}

#cpinfo{fotn-size:15px;}
#wInfo{margin-left:20px;}

#content{margin:20px;}
#dcposter{width:250px; height:320px;}
#btn{padding:20px; margin-left:5%; text-align:center;}
#expect{font-size:14px; font-weight:bold; background-color:red; color:white;
	  border:none; border-radius:5px; width:90px; height:30px;}

#listbtn{margin-left: 1262px;
    margin-top: 18px;}
/* #listbtn button{background-color:red; color:white; */
/* 				border:none; border-radius:5px;  */
/* 				width:50px; height:25px; font-size:14px;} */

	/* 쪽지 및 팔로우 */
 li ul {
background: lightgray;
display:none;  /* 평상시에는 서브메뉴가 안보이게 하기 */
height:auto;
padding:5px;
margin:0px;
border:0px;
position:absolute;
width:100px;
z-index:200;
}

#rpWriter li:hover ul {
display:block;   /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
}

/* 댓글 */
textarea:focus {outline: none;}

#replybox1{font-size: 14px;
    padding: 5px;
    float: left;
    width: 91%;
    height: 67px;
    margin-top: 23px;
    background-color: white;
    color: black;
    border-radius: 5px;}
#reply_content{resize: none; border:none;  height: 35px;}
#reply_save{	font-size: 17px;
    margin-left:203px;
    width: 121px;
    height: 70px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-weight: bold;
    margin-top: 22px;}

#report{/* margin-top:10px; margin-left:90%;
		background-color:red; color:white; font-size:13px;
		border:none; border-radius:5px; */
		font-size: 12px;
      font-weight: lighter;
      padding: 4px 8px;
      margin-left: 90%;
      margin-top: 7px;}
#deleteComment{margin-top:10px; margin-left:90%;
		background-color:red; color:white; font-size:13px;
		border:none; border-radius:5px;}

#replybox2{margin-top:30px; background-color:white; color:black; border-radius:5px;}
#replybox2 th{padding-top:10px; padding-bottom:10px; text-align:left;font-weight:bold; font-size:17px; color:red;}
#replybox2 td{padding-bottom:20px;}
#replybox2 table{margin:15px; width:98%;}


.myButton {
	
   box-shadow:inset 0px 1px 0px 0px #f5978e;
   background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
   background-color:#f24537;
   border-radius:6px;
   border:1px solid #db1f11;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family:Arial;
   font-size:15px;
   font-weight:bold;
   padding:6px 24px;
   text-decoration:none;
   text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
   background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
   background-color:#c62d1f;
}
.myButton:active {
   position:relative;
   top:1px;
}

