@charset "UTF-8";
	/* 넷플릭스,왓챠,네이버,top */


	/* footer */
#footer{
	height: 100px;
	text-align: center;
	
}
.f_bottom-contents{
	color: white;
}
#f_logo{
	width: 150px;
	height: 40px;
}
#copyright{
	text-align: center;
	color: white;
	font-size: 10px;
}

	/* 선택 */
.hline{height:4px; background-color:red; border:none;}	
#sel{
    margin: 20px auto;
    margin-top: 35px;
    margin-left: 20%;
    color: black;}
.cinema{width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;}
.cinema:hover{
	width: 102px;
	height: 102px;
}
#allview{margin-left:15px; font-weight:bold; font-size:18px; float:left; color:white;}
#selSearch{width:450px; margin-left:61%; margin-bottom:10px; color:black;}
#selSearch input{width:150px; height:25px; font-size:13px}
#selSearch select{height:25px;font-size:13px}
#sbtn{margin-left: 5px; font-size:13px; width:45px; height:25px; background-color:red; color:white; border-radius:5px; border:none;}
#btn {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #db1f11;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	float: right;
    margin-right: 10%;
}
#btn:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
#btn:active {
	position:relative;
	top:1px;
}

	/* 목록 */
#dem{width: 80%; margin:100px auto; color:white;}
#dem>table{margin:30px auto; text-align:center;}
#dem td{height:50px;}
#dem th{height:50px;text-align:center;}

#demdiv{padding:70px;  margin-bottom:500px;}
#percent{text-align:right; font-size:18px}
#dDay{width:150px; height:5px; font-size:18px; color:red; font-weight:bold}

.poster{width: 250px; height: 350px;}

	/* 달성률 */
.bar{z-index:0; width:250px; height:10px; background-color:lightgray;}
#current{display: block; z-index:1; width:60%; height:10px; background-color:red;}

	/* 페이징 */
.list_number{font-size:12px; margin-bottom:15px; text-align:center;}
.list_n_menu {padding:3px; MARGIN:3px;TEXT-ALIGN: center}
.list_n_menu a {padding:5px 8px 4px 8px; MARGIN: 2px; BORDER: #ccc 1px solid; COLOR: white; TEXT-DECORATION: none}
.list_n_menu a:hover {BORDER:red 1px solid; COLOR: red;}
.list_n_menu a:active {BORDER:red 1px solid; COLOR: red;}
.list_n_menu .current {BORDER: gray 1px solid; padding:5px 8px 4px 8px; FONT-WEIGHT: bold; MARGIN: 2px; COLOR: gray;}
.list_n_menu .prev {BORDER: white 1px solid; padding:5px 8px 4px 8px; MARGIN: 2px; COLOR: white;}

	/* 글쓰기 */
#write{position:absolute; left:1200px; background-color:red; color:white;
	   border:none; border-radius:5px; font-size:14px; height:25px;}

	/* 검색 */
#searchDiv{width: 480px; margin:100px auto;}
#searchType{height:30px;}
#blank{height:25px;}
#botSearch{width:50px; height:33px;}

/*리스트  */
.pro { 
	height: 10px;  /* Can be anything */
	margin-top: 10px;
	position: relative;
	background: black;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.pro > span {
  display: block;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: red;
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
#suyotb > ol{margin-top: 50px;}
    			
#suyotb > ol > li {float: left;
				   width: 250px;
				   margin-left: 64px;
				   padding-bottom: 30px;}
			    			
section{width: 80%;
    margin: 0 auto;
    margin-top: 100px;}
.btn{display: inline-block;}
h2{color: white; font-size: 35px;}
