@charset "UTF-8";
	/* 넷플릭스,왓챠,네이버,top */


	/* footer */
#footer{
	height: 100px;
	text-align: center;
}
.f_bottom-contents{
	color: white;
}
#f_logo{
	width: 150px;
	height: 40px;
}
#copyright{
	text-align: center;
	color: white;
	font-size: 10px;
}

	/* 선택 */
.hline{height:4px; background-color:red; border:none;}	
#sel{width:500px; margin:20px auto; color: black;}
.cinema{width: 70px; height: 70px; margin:10px;}
#allview{margin-left:15px; font-weight:bold; font-size:18px; float:left;}
#selSearch{width:450px; margin-left:63%; margin-bottom:10px; color:black;}
#selSearch input{width:150px; height:25px; font-size:13px}
#selSearch select{height:25px;font-size:13px}
#sbtn{font-size:13px; width:45px; height:25px; background-color:red; color:white; border-radius:5px; border:none;}

	/* 목록 */
#dem{width: 80%; margin:100px auto; color:white;}
#dem>table{margin:30px auto; text-align:center;}
#dem td{height:50px;}
#dem th{height:50px;text-align:center;}

#demdiv{padding:70px;  margin-bottom:500px;}
#percent{text-align:right; font-size:18px}
#dDay{width:150px; height:5px; font-size:18px; color:red; font-weight:bold}
#poster1{float:left;}
#poster2{float:left; padding-left:150px;}
#poster3{float:left; padding-left:150px;}
#poster4{float:left; margin-top:50px;}
#poster5{float:left; padding-left:150px; margin-top:50px;}
#poster6{float:left; padding-left:150px; margin-top:50px;}
.poster{width: 250px; height: 350px;}

	/* 달성률 */
.bar{z-index:0; width:250px; height:10px; background-color:lightgray;}
#current{display: block; z-index:1; width:60%; height:10px; background-color:red;}

	/* 페이징 */
.list_number{font-size:12px; margin-left:39%; margin-bottom:15px;left:60%; text-align:center; display:inline-block; float:left;}
.list_n_menu {padding:3px; MARGIN:3px;TEXT-ALIGN: center}
.list_n_menu a {padding:5px 8px 4px 8px; MARGIN: 2px; BORDER: #ccc 1px solid; COLOR: white; TEXT-DECORATION: none}
.list_n_menu a:hover {BORDER:red 1px solid; COLOR: red;}
.list_n_menu a:active {BORDER:red 1px solid; COLOR: red;}
.list_n_menu .current {BORDER: gray 1px solid; padding:5px 8px 4px 8px; FONT-WEIGHT: bold; MARGIN: 2px; COLOR: gray;}
.list_n_menu .prev {BORDER: white 1px solid; padding:5px 8px 4px 8px; MARGIN: 2px; COLOR: white;}

	/* 글쓰기 */
#write{position:absolute; left:1200px; background-color:red; color:white;
	   border:none; border-radius:5px; font-size:14px; height:25px;}

	/* 검색 */
#searchDiv{width: 480px; margin:100px auto;}
#searchType{height:30px;}
#blank{height:25px;}
#botSearch{width:50px; height:33px;}

