@charset "UTF-8";

	/* footer */
@font-face { font-family: 'Godo'; font-style: normal; font-weight: 400; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff'); } 
@font-face { font-family: 'Godo'; font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff'); } .godo * { font-family: 'Godo', sans-serif; }

#footer{
	height: 100px;
	text-align: center;
}
.f_bottom-contents{
	color: white;
}
#f_logo{
	width: 150px;
	height: 40px;
}
#copyright{
	text-align: center;
	color: white;
	font-size: 10px;
}
	/* 상세뷰 */
.hline{height:4px; background-color:red; border:none;}	
#dh2{color:white; margin-top: 10%;}
#demandp{width: 80%; margin:100px auto;}
#box{margin-top:30px; background-color:white; color:black; border-radius:5px;}

#dcinema{padding:10px; margin: 0 auto; text-align: center; padding-bottom: 10px;
		 background-color: bisque;
		 border-top-left-radius: 5px;
		 border-top-right-radius: 5px;
		 }
#dctitle{font-size:40px;}

#wInfo{margin-left:20%; margin-top: 10px; font-size: 35px;}

#content{margin:20px; margin-top: 50px;}
#dcposter{width: 280px; height: 370px; margin-left: 5%; vertical-align: top;}
#dpinfo{font-family: 'Godo';  font-style: normal; font-weight: 700; margin-left: 5%; display: inline-block; }
#btn{padding:23px; text-align:center;}
#want{font-size:14px; font-weight:bold; background-color:red; color:white;
	  border:none; border-radius:5px;}

#listbtn{width:200px; margin-left: 96.5%; margin-top:15px;}
#listbtn button{background-color:red; color:white;
				border:none; border-radius:5px; 
				font-size:14px;}

	/* 쪽지 및 팔로우 */
 li ul {
background: lightgray;
display:none;  /* 평상시에는 서브메뉴가 안보이게 하기 */
height:auto;
padding:5px;
margin:0px;
border:0px;
position:absolute;
width:100px;
z-index:200;
}

#rpWriter li:hover ul {
display:block;   /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
}

.btn {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #db1f11;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	vertical-align: -3px;
}
.btn:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}
.btn:active {
	position:relative;
	top:1px;
}