@charset "UTF-8";


	/* footer */

#footer{
	height: 100px;
	text-align: center;
}
.f_bottom-contents{
	color: white;
}
#f_logo{
	width: 150px;
	height: 40px;
}
#copyright{
	text-align: center;
	color: white;
	font-size: 10px;
}

	/* 목록 */
.hline{height:4px; background-color:red; border:none;}
#reviewList{width: 80%; margin:100px auto; color:white;}
#reviewList>table{margin:30px auto; text-align:center;}
#reviewList td{height:50px; font-size:17px;}
#reviewList th{height:50px;text-align:center; font-size:20px; padding-bottom:30px;}
#num{width:70px; height:60px;}
#rlcategory{width:150px; height:60px;}
#title{width:400px; height:60px;}
#date{width:200px; height:60px;}
#writer{width:100px; height:60px;}
#hits{width:150px; height:60px;}

	/* 페이징 */
.pagingArea button{padding:5px 8px 4px 8px; color:white; font-size:12px; border:1px solid gray; background: transparent;}
button:hover{color: red; border:red 1px solid;}
button:focus {outline: none;}
#numBtn{background: #transparent;}
#choosen{background: #transparent;}	

	/* 글쓰기 */
#write{position:absolute; left:1250px; background-color:red; color:white;
		border:none; border-radius:5px; font-size:14px; height:25px;}

	/* 검색 */
#searchDiv{width: 600px; margin:100px auto;}
#searchType{font-size:14px; width:90px; height:25px;}
#selectSpo{font-size:14px; width:80px; height:25px;}
#blank{height:25px; font-size:14px;}
#botSearch{ background-color:red; color:white;
			border-radius:5px; border:none;
			width:50px; height:25px; font-size:14px;}

