@charset "UTF-8";


	/* footer */

#footer{
	height: 100px;
	text-align: center;
}
.f_bottom-contents{
	color: white;
}
#f_logo{
	width: 150px;
	height: 40px;
}
#copyright{
	text-align: center;
	color: white;
	font-size: 10px;
}

	/* 목록 */
.hline{height:4px; background-color:red; border:none;}
#reviewList{width: 80%; margin:100px auto; color:white;}
#reviewList>table{margin:30px auto; text-align:center;}
#reviewList td{height:50px; font-size:17px;}
#reviewList th{height:50px;text-align:center; font-size:20px; padding-bottom:30px;}
#num{width:70px; height:60px;}
#rlcategory{width:150px; height:60px;}
#title{width:500px; height:60px;}
#date{width:160px; height:60px;}
#writer{width:100px; height:60px;}
#hits{width:100px; height:60px;}

	/* 페이징 */
.pagingArea button{padding:5px 8px 4px 8px; color:white; font-size:12px; border:1px solid gray; background: transparent;}
button:hover{color: red; border:red 1px solid;}
button:focus {outline: none;}
#numBtn{background: #transparent;}
#choosen{background: #transparent;}	

	/* 글쓰기 */
/* #write{position:absolute;  background-color:red; color:white; */
/* 		border:none; border-radius:5px; font-size:14px; height:25px;} */
#write{position:absolute; margin-left:1400px;
   box-shadow:inset 0px 1px 0px 0px #f5978e;
   background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
   background-color:#f24537;
   border-radius:6px;
   border:1px solid #db1f11;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family:Arial;
   font-size:15px;
   font-weight:bold;
   padding:6px 24px;
   text-decoration:none;
   text-shadow:0px 1px 0px #810e05;
}

#write:hover{
   background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
   background-color:#c62d1f;
}

#write:active{
   position:relative;
   top:1px;
}

	/* 검색 */
#searchDiv{width: 600px; margin:100px auto;}
#searchType{font-size:14px; width:90px; height:25px;}
#selectSpo{font-size:14px; width:80px; height:25px;}
#blank{height:25px; font-size:14px;}
/* #botSearch{ background-color:red; color:white; */
/* 			border-radius:5px; border:none; */
/* 			width:50px; height:25px; font-size:14px;} */
#botSearch{
	box-shadow: inset 0px 1px 0px 0px #f5978e;
    background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color: #f24537;
    border-radius: 6px;
    border: 1px solid #db1f11;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 3.5px 13px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;	
}
#botSearch:hover{
   background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
   background-color:#c62d1f;	
}
#botSearch:active{
   position:relative;
   top:1px;	
}

