@charset "UTF-8";
	/* 넷플릭스,왓챠,네이버,top */
body{background: #545357;}
#red_line{
	border: 1px solid red;
}
#revW_top{
		width: 100%;
		height: 70px;
		position: fixed;
		color: white;
		background-color: #4C4C4C;
		top: 0; left: 0;
		font-weight: bold;
		font-size: 16px;
	}
#revW_fix{
		width: 2000px;
	}
#revW_logo{
		width: 200px;
		height: 70px;
	}
#revW_logotd{width: 350px;}
#revW_middle{width: 250px;}
#revW_search{
		font-size: 15px;
		height: 30px;
		border: 1px solid black;
		background: #4C4C4C;
	}
#revW_searchbtn{
		font-size: 14px;
		font-weight: bold;
		width: 40px;
		height: 30px;
		top: 15px;
		left: 1192px;
		border: 0px;
		color: #ffffff;
		background: #4C4C4C;
	}
#revW_right{width: 250px;}
#revW_footer{
	background-color: red;
	height: 4px;
}




	/* 최신글 */
#revW_review{width: 80%; margin:100px auto; color:white;}
#revW_reviewName{width: 520px; height: 20px; font-size: 18px; color: black;}
#revW_movieName{width: 220px; height: 20px; font-size: 18px; color: black;}
#revW_spolier{font-weight: bold;}
	/* footer */
#revW_foot{text-align: center; margin-bottom: 30px; }

/* 밑부분 */
#revW_roop{width: 80%; margin:0px auto; }
#revW_popcorn{color: #F1C40F; font-size: 1.7em;}
#revW_button{
	width: 100px; 
	float: right; 
	margin: 20px; 
	height: 30px; 
	font-size: 15px; 
	font-weight: bold;
	color: white; 
	background: #ff3333;
	border: 0px; 
	border-radius: 5px; 
}
#pop_point{color: #F1C40F; font-size: 1.7em;}